@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular400,700,700italic);
body {
  width: 100%;
  height: vh;
  margin: 0;
  padding: 0;
}
@media (max-width: 850px) {
  body {
    height: 100%;
  }
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #C5E4E7;
  font-family: "Space Mono", "sans serif";
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
@media (max-width: 850px) {
  .page {
    height: 100%;
  }
}
.page .header {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.43em;
  text-transform: uppercase;
  color: #4E7575;
  margin-bottom: 30px;
}
.page .calculator {
  max-width: 920px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: #fff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0px 19px 29px 6px #B2D9DC;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: stretch;
}
@media (max-width: 850px) {
  .page .calculator {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
  }
}
.page .calculator input[type=text] {
  width: 90%;
  border-style: none;
  height: 40px;
  cursor: pointer;
  text-align: right;
  font-family: "Space Mono", "sans serif";
  color: #00474B;
  font-weight: bold;
  font-style: 100px;
}
.page .calculator input:active {
  border: none;
  color: rgb(209, 255, 253);
}
.page .calculator .calculator__section_right {
  box-sizing: border-box;
  max-width: 430px;
  max-height: 430px;
  background-color: #00474B;
  padding: 30px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.page .calculator .calculator__section_right .calculator__section_right {
  box-sizing: border-box;
  max-width: 430px;
  max-height: 430px;
}
.page .calculator .calculator__section_right .calculator__section_right-tip {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.page .calculator .calculator__section_right .calculator__section_right-tip .white_text {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
}
.page .calculator .calculator__section_right .calculator__section_right-tip .grey_text {
  color: #9EBBBD;
}
.page .calculator .calculator__section_right .calculator__section_right-tip .green_price {
  color: #26C2AD;
  font-size: 48px;
  font-weight: bold;
  padding-left: 30px;
}
.page .calculator .calculator__section_right .calculator__section_right-tip .tip_amount {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page .calculator .calculator__section_right .calculator__section_right-tip .tip_total {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page .calculator .calculator__section_right .submit {
  height: 60px;
  width: 100%;
}
.page .calculator .calculator__section_right .submit .reset_button:hover {
  color: #ffffff;
}
.page .calculator .calculator__section_right .submit .reset_button:active {
  box-shadow: inset 0 0 3px 4px rgb(0, 74, 83);
}
.page .calculator .calculator__section_right .submit .reset_button {
  width: 100%;
  background-color: #0D686D;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: #065257;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
.page .calculator .calculator__section_left {
  max-width: 430px;
  max-height: 430px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #065257;
  font-weight: bold;
  font-size: 16px;
}
.page .calculator .calculator__section_left .section__left_people {
  width: 100%;
}
.page .calculator .calculator__section_left .section__left_people-input {
  color: yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page .calculator .calculator__section_left .section__left_people-input img {
  width: 13px;
  height: 16px;
  margin-left: 10px;
}
.page .calculator .calculator__section_left .section__left_bill {
  width: 100%;
}
.page .calculator .calculator__section_left .section__left_bill .dollar {
  color: #9EBBBD;
  font-size: 24px;
  margin-left: 10px;
}
.page .calculator .calculator__section_left .section__left_bill .dollar_tex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page .calculator .section__left_tip-percent {
  font-family: "Space Mono", "sans serif";
  display: grid;
  grid-template-columns: 124px 124px 124px;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}
.page .calculator .section__left_tip-percent .button_custom {
  background-color: #fff;
  border: none;
  font-family: "Space Mono", "sans serif";
  font-size: 24px;
  font-weight: bold;
  color: #065257;
}
.page .calculator .section__left_tip-percent .button_custom:hover {
  cursor: pointer;
  color: #26C2AD;
}
.page .calculator .section__left_tip-percent .button_custom:active {
  box-shadow: inset 0 0 2px 2px rgb(148, 194, 186);
  border-radius: 4px;
}
.page .calculator .section__left_tip-percent .button:hover {
  cursor: pointer;
  background-color: #065257;
}
.page .calculator .section__left_tip-percent .button:active {
  background-color: #26C2AD;
}
.page .calculator .section__left_tip-percent .button {
  text-align: center;
  font-family: "Space Mono", "sans serif";
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  background-color: #00474B;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
}/*# sourceMappingURL=style.css
